# -------------------------------------
# required
# -------------------------------------

# Notion Api SECRET KEY
# ex) secret_zhL...
NOTION_API_SECRET_KEY=

# Notion page id to use for root path
# ex) cd9c83dd...
NEXT_PUBLIC_NOTION_DATABASE_ID=

# Blog name
# ex) soolog
NEXT_PUBLIC_INFOMATION_BLOGNAME=


# -------------------------------------
# options
# -------------------------------------

# Google G-Tag
# ex) G-ER...
NEXT_PUBLIC_GOOGLE_G_TAG=

# Notion Custom Domain
# docs: https://www.notion.so/ko-kr/blog/personalize-public-pages
# ex) sooros
NEXT_PUBLIC_NOTION_CUSTOM_DOMAIN=

# Email
# ex) contact@sooros.com
NEXT_PUBLIC_INFOMATION_EMAIL=

# Git profile url
# ex) https://github.com/sooros5132
NEXT_PUBLIC_INFOMATION_GITHUB=

# Git repository url
# ex) https://github.com/sooros5132/notion-blog-kit
NEXT_PUBLIC_INFOMATION_REPOSITORY=
