@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 96%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --foreground-rgb: 0, 0, 0;

    --header-height: 50px;
    --site-min-width: 300px;
    --article-max-width: 800px;

    --notion-color-default: #080808;
    --notion-color-gray: 120 119 116;
    --notion-color-brown: 159 107 83;
    --notion-color-orange: 217 115 13;
    --notion-color-yellow: 68 131 97;
    --notion-color-green: 68 131 97;
    --notion-color-blue: 51 126 169;
    --notion-color-purple: 144 101 176;
    --notion-color-pink: 212 76 71;
    --notion-color-red: 212 76 71;
    --notion-color-gray_background: 241 241 239;
    --notion-color-brown_background: 238 224 218;
    --notion-color-orange_background: 251 236 221;
    --notion-color-yellow_background: 251 243 219;
    --notion-color-green_background: 237 243 236;
    --notion-color-blue_background: 231 243 248;
    --notion-color-purple_background: 244 240 247;
    --notion-color-pink_background: 244 240 247;
    --notion-color-red_background: 253 235 236;
    --notion-color-code: 235 87 87;
    --notion-color-code_background: 135 131 120;
    --notion-color-tag-gray: 50 48 44;
    --notion-color-tag-default: 50 48 44;
    --notion-color-tag-brown: 68 42 30;
    --notion-color-tag-yellow: 64 44 27;
    --notion-color-tag-orange: 73 41 14;
    --notion-color-tag-green: 28 56 41;
    --notion-color-tag-blue: 24 51 71;
    --notion-color-tag-purple: 65 36 84;
    --notion-color-tag-pink: 76 35 55;
    --notion-color-tag-red: 93 23 21;
    --notion-color-tag-gray_background: 227 226 224;
    --notion-color-tag-default_background: 227 226 224;
    --notion-color-tag-brown_background: 238 224 218;
    --notion-color-tag-yellow_background: 253 236 200;
    --notion-color-tag-orange_background: 250 222 201;
    --notion-color-tag-green_background: 219 237 219;
    --notion-color-tag-blue_background: 211 229 239;
    --notion-color-tag-purple_background: 232 222 238;
    --notion-color-tag-pink_background: 245 224 233;
    --notion-color-tag-red_background: 255 226 221;
  }

  .dark {
    --background: 30 5.6% 7%;
    --foreground: 36 5.2% 81%;

    --card: 0 0% 3.9%;
    --card-foreground: 36 5.2% 81%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 36 5.2% 81%;

    --primary: 36 5.2% 81%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 36 5.2% 81%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 36 5.2% 81%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 36 5.2% 81%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --foreground-rgb: 255, 255, 255;

    --notion-color-default: #080808;
    --notion-color-gray: 155 155 155;
    --notion-color-brown: 186 133 111;
    --notion-color-orange: 199 125 72;
    --notion-color-yellow: 202 152 73;
    --notion-color-green: 82 158 114;
    --notion-color-blue: 94 135 201;
    --notion-color-purple: 157 104 211;
    --notion-color-pink: 209 87 150;
    --notion-color-red: 223 84 82;
    --notion-color-gray_background: 47 47 47;
    --notion-color-brown_background: 74 50 40;
    --notion-color-orange_background: 92 59 35;
    --notion-color-yellow_background: 86 67 40;
    --notion-color-green_background: 36 61 48;
    --notion-color-blue_background: 20 58 78;
    --notion-color-purple_background: 60 45 73;
    --notion-color-pink_background: 78 44 60;
    --notion-color-red_background: 82 46 42;
    --notion-color-code: 235 87 87;
    --notion-color-code_background: 135 131 120;
    --notion-color-tag-gray: 255 255 255;
    --notion-color-tag-default: 255 255 255;
    --notion-color-tag-brown: 255 255 255;
    --notion-color-tag-yellow: 255 255 255;
    --notion-color-tag-orange: 255 255 255;
    --notion-color-tag-green: 255 255 255;
    --notion-color-tag-blue: 255 255 255;
    --notion-color-tag-purple: 255 255 255;
    --notion-color-tag-pink: 255 255 255;
    --notion-color-tag-red: 255 255 255;
    --notion-color-tag-gray_background: 90 90 90;
    --notion-color-tag-default_background: 55 55 55;
    --notion-color-tag-brown_background: 96 59 44;
    --notion-color-tag-yellow_background: 137 99 42;
    --notion-color-tag-orange_background: 133 76 29;
    --notion-color-tag-green_background: 43 89 63;
    --notion-color-tag-blue_background: 40 69 108;
    --notion-color-tag-purple_background: 73 47 100;
    --notion-color-tag-pink_background: 105 49 76;
    --notion-color-tag-red_background: 110 54 48;
  }

  html,
  body {
    height: 100%;
  }
  html {
    scrollbar-width: thin;
  }
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #717171;
  }
  *::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  *::-webkit-scrollbar-track {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: transparent;
  }

  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
  }

  .scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .scrollbar-hidden:hover::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
  }
  .scrollbar-hidden::-webkit-scrollbar-thumb:hover {
    background-color: #717171;
  }

  .flex-align-items-center {
    @apply flex items-center;
  }

  .flex-justify-content-center {
    @apply flex justify-center;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .notion-toggle > summary {
    @apply list-none;
  }

  .notion-toggle > summary::-webkit-details-marker {
    @apply hidden;
  }

  .notion-toggle > summary::before {
    @apply block basis-6 shrink-0 font-mono text-center;
    content: '▶';
  }

  .notion-toggle[open]:not([open='false']) > summary::before {
    content: '▼';
  }

  .notion-database-item-empty-cover {
    @apply flex-center text-[8em] overflow-hidden h-full transition-[transform] duration-200 ease-linear;
  }

  .notion-heading-link-copy .heading-link {
    @apply invisible opacity-0;
  }

  .notion-heading-link-copy:hover .heading-link,
  .notion-heading-link-copy:active .heading-link,
  .notion-heading-link-copy:focus .heading-link {
    @apply visible opacity-100;
  }

  .image-wrapper {
    @apply overflow-hidden text-[0px];
  }

  .image-wrapper img {
    @apply max-w-full object-cover object-center;
  }

  ul.list-style-type {
    list-style-type: disc;
  }

  ul.list-style-type ul {
    list-style-type: circle;
  }

  ul.list-style-type ul ul {
    list-style-type: square;
  }

  ul.list-style-type ul ul ul {
    list-style-type: disc;
  }

  ul.list-style-type ul ul ul ul {
    list-style-type: circle;
  }

  ul.list-style-type ul ul ul ul ul {
    list-style-type: square;
  }

  ol.list-style-type {
    list-style-type: decimal;
  }

  ol.list-style-type ol {
    list-style-type: lower-alpha;
  }

  ol.list-style-type ol ol {
    list-style-type: lower-roman;
  }

  ol.list-style-type ol ol ol {
    list-style-type: decimal;
  }

  ol.list-style-type ol ol ol ol {
    list-style-type: lower-alpha;
  }

  ol.list-style-type ol ol ol ol ol {
    list-style-type: lower-roman;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply bg-background text-foreground min-h-full min-w-[--site-min-width];
  }

  html.nprogress-busy > body > #nprogress > .spinner {
    display: none;
  }
}
